html, body {
  background-color: #c5d62d;
  height: 100%;
}

/* .navbar, 
.navbar-expand-sm, 
.navbar-light,
.bg-light {
    color: #F2EBEC!important;
    background-color: #F2EBEC!important;
} */


nav a {
  color: #2387d8!important;
}

nav a:hover {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  color: #2387d8!important;
}

header {
  margin-bottom: 100px;;
}

#intro {
  width: 100%;
  margin: auto;
  padding-top: 8%;
  color: #56738C;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
}

@keyframes bouncing {
  0% {bottom: 0;}
  50% {bottom: 20px;}
  100% {bottom: 0;}
}

#intro img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

#kl {
  color: #41586b;
  font-weight: 1000;
}

.arrow {
  font-size: x-large;
  text-align: center;
  animation: bouncing 1s infinite ease-in-out;
  position: absolute;
  bottom: 0;
  display: block;
  left: 50%;
}